@layer utilities {
  @media (max-width: 960px) {
    .nav-inner {
      flex-direction: column;
      align-items: flex-start;
    }

    .editor-header {
      flex-direction: column;
      align-items: flex-start;
    }

    .export-bar {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
